* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
}

h2 {
    border-bottom: 1px solid #db0000bb;
    margin-bottom: 35px;
    padding: 10px 0;
    font-style: italic;
}

h3 {
    font-size: 1.5em;
    margin-bottom: 15px;
}

body {
    background-color: #dbdbdb;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    padding: 25px;
    background-color: rgb(72, 153, 153);
}

header ul {
    display: flex;
}

header li {
    margin-left: 25px;
}
.conteudo {
    display: flex;

}

.sobre {
    display: flex;
    margin-top: 35px;
    margin-bottom: 60px;
}

.sobre img {
    margin-right: 35px;
}

.produtos img {
    width: 100%;
    margin-bottom: 20px;
}

.produtos ul {
    display: grid;
    grid-template-columns: repeat(4, 23.5%);
    column-gap: 2%;
}

.produtos li{
    max-width: 100%;
}

.produtos button {
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    border-radius: 5px;
    border: none;
    background-color: #db0000bb;
    color: white;
    cursor: pointer;
}

footer {
    padding: 15px;
    background-color: #c4c4c4;
    text-align: center;
    margin-top: 50px;
}

/* CELULARES */

@media screen and (max-width:640px) {
    .container {
        max-width: 90%;
        margin: 0 auto;
        overflow-x: hidden
    }
    
    header .container {
        display: block;
    }
    
    header {
        padding: 20px 25px;
        background-color: rgb(72, 153, 153);
    }

    h1 {
        text-align: center;
        margin-bottom: 15px;
        font-size: 2.5em;
    }
    
    header ul {
        display: flex;
        justify-content: center;
    }
    
    header li {
        margin-left: 0px;
        padding: 0 13px;
    }
    .conteudo {
        display: block;
    }
    
    .sobre {
        display: block;
        margin-top: 35px;
        margin-bottom: 60px;
    }
    
    .sobre img {
        width: 100%;
        margin-right: 35px;
    }
    
    .produtos img {
        width: 100%;
        margin-bottom: 5px;
    }
    
    .produtos ul {
        display: block;
    }
    
    .produtos li{
        max-width: 100%;
    }
    
    h3 {
        font-size: 1.5em;
        margin-bottom: 15px;
    }
    
    .produtos button {
        margin-bottom: 60px;
    }

    footer {
        padding: 15px;
        background-color: #c4c4c4;
        text-align: center;
        margin-top: 20px;
    }
}

/* TABLETS E IPADS */

@media screen and (min-width: 641px) and (max-width: 1023px) {
    .container {
        max-width: 90%;
        margin: 0 auto;
    }
    
    header .container {
        display: block;
    }
    
    header {
        padding: 20px 25px;
        background-color: rgb(72, 153, 153);
    }

    h1 {
        text-align: center;
        margin-bottom: 15px;
        font-size: 3.5em;
    }

    h2 {
        font-size: 2.5em;
        text-align: center;
    }
        
    h3 {
        font-size: 2em;
        margin-bottom: 15px;
    }

    p {
        font-size: 1.5em;
    }
    
    header ul {
        display: flex;
        justify-content: center;
    }
    
    header li {
        margin-left: 0px;
        padding: 0 13px;
        font-size: 1.8em;
        border-left: 1px solid black;
        border-right: 1px solid black;
    }
    .conteudo {
        display: block;
    }
    
    .sobre {
        display: block;
        margin-top: 35px;
        margin-bottom: 60px;
    }
    
    .sobre img {
        width: 100%;
        margin-bottom: 20px;
    }
    
    .produtos img {
        width: 100%;
        margin-bottom: 5px;
    }
    
    .produtos ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* 1fr diz que são colunas de largura igual... */
        column-gap: 4%;
    }
    
    .produtos li{
        max-width: 100%;
    }
    
    .produtos button {
        margin-bottom: 60px;
        margin-top: 30px;
        font-size: 1.2em;
        padding: 20px;
    }

    footer {
        padding: 15px;
        background-color: #c4c4c4;
        text-align: center;
        margin-top: 20px;
    }
}